body {
  overflow-x: hidden;
}

ul{
list-style-type:none;
}
ul li{
	display:inline-block;
	padding-top: 70px;
	font-family:  sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #8ea0ab;


}
ul li a{
	text-decoration:none;
	color: #8ea0ab;
	text-transform: uppercase;
	padding:5px 20px;
	border:1px solid transparent;
	transition:0.6s ease;
}
ul li a:hover{
    background-color:#ddd;
	color:white;
}
ul li.active a{
	background-color:#fff;
	color:cyan;
}
header{
	background-color:#ebf5f3;
    height:105vh;
    background-size:cover;
    background-position:center; 
}
.header img {
  float:left;
  width: 150px;
  height: 100px;
  margin-top: 30px;
  margin-left:50px;
 
}

.header ul li a {
  position: relative;
  left: 10px;
}
.activ{
 color:black;
 text-decoration: none;
 float: right;
 margin-top:-20px;
 padding-right:200px;

}
.acti{
 color: #8ea0ab;
 text-decoration: none;
 float: right;
 margin-top:-20px;
 padding-right:180px;

}
.tome{
float: right;
width: 935px;
padding-top: 50px;
}

h3{
margin-left: 92px;
float: left;
color: #6d8082;
font-size: 23px;
font-weight: bold;
font-family: 'Sofia';
margin-top: 90px;
}
h1{
margin-left: 90px;
float: left;
font-weight: bold;
font-size: 60px;
margin-top: -20px;
color: #A3CB38;
font-family: sans-serif;
text-transform: uppercase;	
}
.graph{
margin-left: 90px;
float: left;
font-size: 12px;
color: #8ea0ab;
font-family: sans-serif;
font-weight: bold;
margin-top:-320px;
}
.btna{
background-color: #fff;
margin-left: 90px;
margin-top:80px;
border-radius: 2rem;
border:none;
color: #000;
width: 100px;
height: 30px;
}

.ann{
height: 30vh;
}
.track{
margin-left: 180px;
margin-top: 50px;
}
.bre{
font-family: sans-serif;
margin-top: -70px;
margin-left: 240px;
}
.par{
font-family: sans-serif;
float: left;
margin-left: 240px;
margin-top: -18px;
color: #8ea0ab;
}
.trac{
margin-left: 120px;
margin-top: -80px;
}
.deli{
font-family: sans-serif;
margin-left: 580px;
margin-top: -73px;
}
.parag{
font-family: sans-serif;
float: left;
margin-left: 200px;
margin-top: -23px;
color: #8ea0ab;
}
.truck{
margin-left: 925px;
margin-top: -110px;
}
.gift{
font-family: sans-serif;
margin-left: 1010px;
margin-top: -90px;
}
.gra{
font-family: sans-serif;
float: left;
margin-left: 1010px;
margin-top: -40px;
color: #8ea0ab;
}


.vege{
background-color:#ebf5f3;
margin-top: 250px;
height:97vh;
background-size:cover;
background-position:center; 
}
.veg{
width: 700px;
margin-top: 50px;
}
.orga{
float: right;
margin-right: 330px;
margin-top: -500px;
font-family: sans-serif;
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
}
.log{
float: right;
margin-right: 370px;
margin-top: -465px;
}
.more{
float: right;
margin-right: 270px;
margin-top: -400px;
background-color:#d5e8ed;
font-family: sans-serif;
height: 26px;
width: 350px;
padding-top: 5px;
padding-left: 30px;
font-weight: bold;
}
.short{
float: right;
margin-right: 270px;
margin-top: -350px;
font-family: sans-serif;
height: 26px;
width: 350px;
padding-top: 0px;
font-size: 12.6px;
color: #8ea0ab;
line-height: 20px;
}
.minus{
	float:right;
	margin-right: 10px;
	color:black;
}
.mor{
float: right;
margin-right: 270px;
margin-top: -280px;
background-color:#d5e8ed;
font-family: sans-serif;
height: 26px;
width: 350px;
padding-top: 5px;
font-size: 13.5px;
padding-left: 30px;
font-weight: bold;	
}
.mo{
float: right;
margin-right: 270px;
margin-top: -220px;
background-color:#d5e8ed;
font-family: sans-serif;
height: 26px;
width: 350px;
padding-top: 5px;
font-size: 13.5px;
padding-left: 30px;
font-weight: bold;	
}
.moree{
float: right;
margin-right: 270px;
margin-top: -160px;
background-color:#d5e8ed;
font-family: sans-serif;
height: 26px;
width: 350px;
font-size: 13.5px;
padding-top: 5px;
padding-left: 30px;
font-weight: bold;	
}
.arrow-right{
color: #A3CB38;																	
}

.head{
margin-left: 600px;
margin-top: 100px;
font-family: sans-serif;
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
}
.logoo{
margin-left: 580px;
margin-top: -15px;
}

h5{
font-weight: bold;
font-size: 14px;
padding: 35px;
margin-top: -20px;
font-family: sans-serif;
border: 1px solid #ebeff0;
}
div.gallery {
margin: 10px;
border: 1px solid #ebeff0;
float: right;
margin-right: 100px;
width: 290px;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: left;
margin-top: -70px;
color: #8ea0ab;
}
h6 {
padding: 15px;
text-align: center;
margin-top: -20px;
color: #A3CB38;
}
.time{
font-family: sans-serif;
color: #8ea0ab;
float:left;
margin-top: 5px;
font-size: 11px;
font-weight: bold;
margin-left:50px;
}
.lost{
font-family: sans-serif;
color: #8ea0ab;
float:right;
margin-top: 5px;
font-size: 11px;
font-weight: bold;
padding-right:150px;
}

.product1{
    border: 0.5px solid #ddd;
    padding: 9px;
    width: 180px;
    height: 250px;
    margin-left: 620px;
    margin-top: 50px;
    
  }
  .product2{
    border: 0.5px solid #ddd;
    margin-left: 810px;
    padding: 9px;
    width: 180px;
    height: 250px;
    margin-top: -250px;
    
  }
  .product3{
    border: 0.5px solid #ddd;
    padding: 9px;
    width: 180px;
    height: 250px;
    margin-left: 1000px;
    margin-top: -250px;
  }
  h2{
    margin-top: -350px;
    margin-left:600px ;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #323232;
    font-weight: 700;
  }

.product1 p{
  margin-left: 34px;
  margin-top: 28px;
  font-weight: bold;
  color: #515151;
}
.product2 p{
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
  color: #515151;
}
.product3 p{
  margin-left: 40px;
  margin-top: 15px;
  font-weight: bold;
  color: #515151;
}
.span{
margin-left: 50px;
margin-top: 30px;
}
div.c {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through; 
  margin-left: 40px;
  margin-top: 10px;
  color: #7A7A7A;
  font-weight: bold;
}
div.c p{
	margin-top: 15px;
	margin-left: 10px;
}
.spice{
	margin-top:10px;
}
div.d{
  margin-left: 30px;
  margin-top:-20px;
  color: #7A7A7A;
} 
div.d .heart{
  margin-left: -30px;
  margin-top:-22px;
  width: 23px;
  height: 23px
  
} 
div .p p{
 margin-left: -12px;
  margin-top:26px;
  color: #7A7A7A;
}
div.p{
  margin-left: 30px;
  margin-top: -20px;
  color: #7A7A7A;
  
}
.p1 .search2{
	margin-left: 130px;
	height: 23px;
	width: 23px;
	margin-top: -25px;
}
.p1 button{
	margin-left: 32px;
}
.p1 .heart2{
	margin-left: 2px;
	height: 23px;
	width: 23px;
}
button{
  border-radius: 80px;
  background-color: #92C853;
  color:white;
  height: 24px;
  margin-top: -19px;
  margin-left: 5px;
  border:none;
  width:90px;
  
}
div .p button{
	margin-top: -2px;
	margin-left: -15px;
}
.heart {
  margin-top: -22px;
  margin-left: -20px;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  border-style:solid;
  color: rgb(236, 232, 232);

}
  .product1 .heart{
margin-left: -18px;
border-radius: 60%;
  height: 23px;
  width: 23px;
  border-style:solid;
  color: rgb(236, 232, 232);
  }

.search1{
  margin-top: 10px;
  color: rgb(236, 232, 232);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border-style:solid; 
}
div.d .search1{
	margin-top: -23px;
	margin-left: 100px;
	height: 23px;
	width: 23px;
}
.heart2{
  margin-top: -22px;
  margin-left: -16px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border-style:solid;
  color: rgb(236, 232, 232);

}
.search2{
  margin-left:104px;
  margin-top: -15px;
  color: rgb(236, 232, 232);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border-style:solid; 
}
.search{
  margin-left:130px;
  margin-top: -24px;
  color: rgb(236, 232, 232);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  border-style:solid; 
}
.arrow {
  border: solid rgb(214, 210, 210);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow1{
margin-left: 550px;
margin-top: -155px;
}
.arrow2{
  margin-left: 1205px;
  margin-top: -43px;
}
.line{
  margin-top: 270px;
  width:820px;
  margin-left: 220px;
  color:  #ebeff0;
}
.logo1{
  margin-left: 212px;
}
.logo2{
  margin-left: 410px;
  margin-top: -80px;
}
.logo3{
  margin-left: 600px;
  margin-top: -80px;
}
.logo4{
  margin-left: 780px;
  margin-top: -80px;
}
.logo5{
  margin-left: 960px;
  margin-top: -80px;
}
.line1{
  margin-top: 10px;
  width:820px;
  margin-left: 220px;
  color: #ebeff0;
}
.arrow3{
  margin-left: 60px;
  margin-top: -148px;
}

.product4{
  border: 0.5px solid #ddd;
  padding: 9px;
  width: 170px;
  height: 225px;
  margin-left: 290px;
  margin-top: 50px;
  color: #515151;
}
.product5{
  border: 0.5px solid #ddd;
  margin-left: 100px;
  padding: 9px;
  width: 170px;
  height: 225px;
  margin-top: -225px;
  color: #515151;
  
}
.product6{
  border: 0.5px solid #ddd;
  padding: 9px;
  width: 170px;
  height: 225px;
  margin-left: 481px;
  margin-top: -225px;
  color: #515151;
  
}

.product4 p{
  margin-left: 40px;
  margin-top: 10px;
  font-weight: bold;
}
.product5 p{
  margin-left: 40px;
  margin-top: 4px;
  font-weight: bold;
}
.product6 p{
  margin-left: 40px;
  margin-top: 10px;
  font-weight: bold;
}
.new h2{
  margin-top: 90px;
  margin-left:480px ;
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #323232;
  font-weight: 700;
}
.product7{
  margin-left: 830px;
  margin-top: -220px;
}
.arrow4{
  margin-left: 690px;
  margin-top: -228px;
}



@import url('../css/fonts.css');

a{
    text-decoration: none;
    color: var(--text-gray);
}

.h2{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.h6{
   font-size: 2.2rem;
   font-family: sans-serif;
   margin-top: -20px;
   margin-left: -100px;
}
.texi{
   font-size: 15px;
   font-family: sans-serif;
   margin-top: 20px;
   margin-left: -90px;
}
.tex{
  font-family: sans-serif;
    color:white;
    margin-right: 100px;
    font-size: 2.5rem;
    margin-left: 20px;
}
p{
    padding-top: -100px;
    font-family:sans-serif;
    color: #8ea0ab;
    font-size: 12px;
}

.p{
    color:white;
    text-align: center;
    padding-left: -80px;
}


.column {
  float: left;
  width: 50%;
  height: 200px;
  padding: 3px;
}

* {
  box-sizing: border-box;
}

.tex{
margin-top: 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;

}

.row:after {
  content: "";
  display: table;
  clear: both;

}


@media screen and (max-width: 900px) {
  .column  {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}


.maize{
margin-left: 180px;
margin-top: 10px;
}

.anita{
    margin-top: -10px;
    margin-left: 195px;
    font-family:sans-serif;
    color: #8ea0ab;
    font-size: 12px;
}

.email{
margin-left: 200px;
font-family: sans-serif;
color: #8ea0ab;
font-size: 12px;
margin-top: 30px;
}
.our{
    font-family: sans-serif;
    font-size: 12px;
    color: #000;
    margin-top: -30px;
    font-weight: bold;
    margin-left: 510px;

}
.map{
margin-left: 200px;
font-family: sans-serif;
color: #8ea0ab;
font-size: 12px;
margin-top: 10px;
}
.phone{
margin-left: 200px;
font-family: sans-serif;
color: #8ea0ab;
font-size: 12px;
margin-top: 10px;
}
.us{
	margin-left: 510px;
	font-size: 12px;
    margin-top: -120px;
}
.gallery{
	margin-left: 510px;
	font-size: 12px;
    margin-top: -20px;
}
.team{
	margin-left: 510px;
	font-size: 12px;
    margin-top: -20px;
}
.intro{
	margin-left: 510px;
	font-size: 12px;
    margin-top: -20px;
}
.blog{
	margin-left: 510px;
	font-size: 12px;
    margin-top: -20px;
}
.account{
    font-family: sans-serif;
    font-size: 12px;
    color: #000;
    margin-top: -150px;
    font-weight: bold;
    margin-left: 720px;
}
.account0{
    font-family: sans-serif;
    font-size: 12px;
    color: #8ea0ab;
    margin-top: -132px;
    margin-left: 720px;

}
.list{
    font-family: sans-serif;
    font-size: 12px;
    color:#8ea0ab;
    margin-top: 10px;
    margin-left: 720px;
    font-weight: 200;

}
.order{
    font-family: sans-serif;
    font-size: 12px;
    color:#8ea0ab;
    margin-top: 10px;
    margin-left: 720px;

}

.ship{
    font-family: sans-serif;
    font-size: 12px;
    color:#8ea0ab;
    margin-top: 10px;
    margin-left: 720px;

}
.dis{
    font-family: sans-serif;
    font-size: 12px;
    color:#8ea0ab;
    margin-top: 10px;
    margin-left: 720px;

}

.instagra{
	font-family: sans-serif;
	margin-left: 960px;
	margin-top: -150px;
	font-size: 12px;
	color: #000;
	font-weight: bold;

}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 950px;
    margin-top: -130px;
}
 .form-element{
    margin-top: 10px;
    margin-left:960px;
    color: #8ea0ab;
    font-family:sans-serif;
    font-size: 1rem;
    border-color: #8ea0ab;
    width: 74%;
}
.text-grey{
	margin-left: 202px;
	margin-top:90px;
	font-size: 12px;
	color: #8ea0ab;
	font-weight: 200;
	font-family: sans-serif;

}
.move-up{
	margin-top: -40px;
	margin-left: 940px;
}
.up-arrow{
margin-top: -158px;
margin-left: 1280px;	
}